<p>list-detail works!</p>
<div fxLayout="column" fxLayoutGap="10px">
    <mat-form-field appearance="standard">
        <mat-label>Category</mat-label>
        <input matInput placeholder="Category" [disabled]="isView" [ngModel]="expense.category" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" [disabled]="isView" [ngModel]="expense.amount" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Enter Description" [disabled]="isView">{{expense.description}}</textarea>
    </mat-form-field>
</div>